/****** General ***********/
/* * {} */

:root {
    --main-color: #FAFAFA;
    --btn-color: rgb(144, 28, 28);
    --btn-scd-color: #DB8876;
    --title-text-color: rgba(211, 87, 60, 1);
    --form-laber-color: #312E2E;
}

body {
    position: relative;
}

#main {
    position: relative;
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: var(--main-color);
    /* height: 300px; */
    margin: 40px 100px 0 100px;
    max-width: 1240px;
    /* display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px 95px; */
}

.photograph-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*     justify-content: space-around; */
    justify-content: space-between;
    gap: 20px;

}

.photograph-text {
    display: flex;
    flex-direction: column;
    /*     flex-grow: 1;
    flex-basis: 150px; */
    flex-shrink: 3;
    margin-left: 50px;
    margin-bottom: 50px;
}

.contact_button {
    /*     flex-grow: 1;
    flex-basis: 80px; */
    flex-shrink: 2;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 40px;
}

.photograph-header .portrait {
    /*     flex-grow: 1;
    flex-basis: 60px; 
    flex-shrink: 5;*/
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    /*  overflow: hidden; */
    transform: scale(1.1);
    margin-right: 50px;
}

.photograph-text h1 {
    color: rgba(211, 87, 60, 1);
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 0;
}

.photograph-text .photographer-localisation {
    color: rgba(144, 28, 28, 1);
    font-size: 24px;
}

.photograph-text p {
    font-size: 18px;
}

.likes p {
    font-size: 24px;
    font-weight: 500;
}

.likes .likes-icon {
    width: 17.5px;
    height: 18.35px;
    border-radius: 0%;
}

.likes-btn {
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 8px;
    bottom: 5px;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    padding: 4px;
    right: 55px;
    width: 30px;
}

/****************************************
************    MODAL style *************
*****************************************/


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
form textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

form textarea {
    height: 98px;
}

#open_lightbox {
    border-radius: 5px;
    background-color: rgba(201, 198, 210, 0.103);
    width: 85%;
    display: flex;
    flex-direction: raw;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    /* filter: drop-shadow(10px 3px 15px rgba(0, 0, 0, 0.6)); */
}

/************ LIGHTBOX style ***********************/
.lightbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.lightbox>img {
    width: 40px;
}

.lightbox-media {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* filter: drop-shadow(10px 3px 15px rgba(0, 0, 0, 0.6)); */
}

.lightbox-container {
    margin-left: 50px;
    margin-right: 50px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.lightbox-container>img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
}

.hide {
    display: none;
}

.disabled {
    opacity: 0;
    height: 0;
    width: 0;
}

.active {
    opacity: 1;
}

.open {
    display: block;
}

.fa-solid.fa-heart {
    transition: scale 1s;
}

.fa-solid.fa-heart:hover {
    scale: 1.2 1.2;
}

.likes-count {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    transition: scale 1s;
    color: #901C1C;
    display: inline-block;
    font-size: 17.5px;

}

input[type="checkbox"]::before {
    content: "\f004";


}

.likes-count>input[type="checkbox"].like-input:hover {
    scale: 1.2 1.2;
}

.likes__media {

    position: absolute;
    right: 0;
    z-index: 10;
    top: 90%;
}

/****************************************/
/********** Gallery / cards  ************/
/****************************************/
.photograph-medias {
    margin: 10vh 8vw 0 8vw;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    gap: 20px 95px;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.cards-media-wrapper {
    border-radius: 0.3rem;
    position: relative;
    z-index: 1;
    /* display: flex;
    flex-direction: column; */
}

.cards-media-wrapper:hover {
    cursor: pointer;
}

.media-card {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.go-to-lightbox {
    width: 350px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.media-card__details {
    color: rgba(144, 28, 28, 1);
    display: flex;
    justify-content: space-between;
}

.media-card__details>h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}


/**********************************
    Photographer Footer
***********************************/
footer {
    /* 
    background-color: var(--btn-scd-color);
    font-size: 24px;
    border-radius: 5px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    bottom: 0;
    left: 100%;
    margin-right: 36px;
    width: 20rem;
    background: #db8876;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1000;
}

.photographer-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--btn-scd-color);
    font-size: 24px;
    right: 0;
    top: 200px;
    width: 376px;
    height: 66px;
    border-radius: 5px;
}

/* #totalLikes { clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");}*/
/* .photographer-footer__price {}  */


/************************
****** dropdown *********
*************************/
select {
    /*     flex-grow: 1;
    flex-basis: 80px; */
    flex-shrink: 2;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 40px;
}

.custom-select {
    position: relative;
    margin-left: 100px;
}


.select-selected {
    background-color: var(--btn-color);
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: var(--btn-color);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
/* .select-hide {
    display: none;
} */

.select-items:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* select:focus,
select:hover {
    outline: none;
} */

/* .select-items:hover,
.select-items:focus {
    background-color: #db8876;
    color: #000000;
    cursor: pointer;
} */

/******************************************************************
*******************************************************************/

.gallery-filter-container {
    margin: 30px 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 1.125rem;
}

.gallery-filter-container p {
    font-weight: 700;
    padding: 0 20px 0 0;
    margin: 15px 0;
}

.dropdown-container {
    position: relative;
    height: 100%;
}

.dropdown {
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    overflow: hidden;
    width: 190px;
    height: 50px;
    transition: all 0.1s ease-in-out;
}

.dropdown:hover {
    height: 150px;
}

.dropdown:hover .fa-chevron-down {
    transform: rotate(180deg);
}

.dropdown button {
    border: none;
    background-color: #901c1c;
}

.dropdown_content {
    max-height: 0;
    background-color: #901c1c;
    margin: 0;
    position: relative;
    top: 0;
    left: -40px;
}

.dropdown_content li {
    position: relative;
    top: -50px;
    width: 190px;
    list-style: none;
}

.dropdown_content li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 1px;
    background-color: #ffffff;
}

.btn_drop,
.dropdown_content li button {
    height: 50px;
    padding: 15px;
    font-size: 1.125rem;
    color: #ffffff;
}

.btn_drop {
    display: flex;
    justify-content: space-between;
    width: 190px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.dropdown_content li button {
    width: 100%;
    text-align: left;
}

.dropdown_content li button:hover,
.dropdown_content li button:focus,
.btn_drop:hover,
.btn_drop:focus {
    background-color: #db8876;
    color: #000000;
    cursor: pointer;
}

@media (max-width: 1024px) {}

@media (max-width: 767.98px) {
    .photograph-medias {
        margin: 20vh 8vw 0 8vw;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px 95px;
        padding: 0;
    }

    /* .photograph-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px
    }

    .photograph-text {
        align-items: center;
        flex-grow: 0;
        flex-basis: 50px;
    }

    .photograph-text h1 {
        color: rgba(211, 87, 60, 1);
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 0;
    }

    .photograph-text .photographer-localisation {
        color: rgba(144, 28, 28, 1);
        font-size: 16px;
    }

    .photograph-text p {
        font-size: 15px;
    }

    .photograph-header .portrait {
        flex-grow: 0;
        width: 100px;
    }

    .contact_button {
        flex-grow: 0;
        flex-basis: 50px;
    } */

}

/* DROPDOWN**/
/* #dropdown-selector {
    position: relative;
    top: 0;
    right: 0;
}

#dropdown-selector {

    min-height: 50px;
    width: 180px;
    margin: 0;
    padding: 0;

    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #901C1C;
    border-radius: 10px;
    border: none;
    cursor: none;
}

#dropdown-selector ul {
    padding: 0;
    margin: 0;
}
*/
/**HANDLE ACTIVE OPTIONS */
/* #dropdown-selector.active {
    z-index: 1;
}

#dropdown-selector:not(.active) li:not(.active) {
    display: none;
}

#dropdown-selector.active li {
    display: flex;
}

#dropdown-selector li.active {
    display: flex;
}

#dropdown-selector:not(.active) .fa-chevron-up {
    display: none;
}

#dropdown-selector.active .fa-chevron-down {
    display: none;
}

#dropdown-selector:not(.active) li:first-child .fa-chevron-down {
    display: block;
} */

/** COLORS */
/* #dropdown-selector.active li.active {
    color: black;
}

#dropdown-selector.active li:hover {
    background-color: red;
} */

/**BORDERS*/
/* #dropdown-selector li:first-child,
#dropdown-selector:not(.active) li {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#dropdown-selector li:last-child,
#dropdown-selector:not(.active) li {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
 */
/* ITEMS */
/* #dropdown-selector li {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    cursor: pointer;
}


#dropdown-selector li {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#dropdown-selector li .row {
    flex: 1;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#dropdown-selector.active li:not(:last-child)::after {
    height: 1px;
    width: 80%;

    content: '';
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
} */